<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
    <h1 class="title">Friends</h1>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">

    <p data-bind="name"></p>
    <ul class="table-view">
        <li class="table-view-cell" data-repeat="friend in friends">
            <a class="navigate-right">
                <span data-item="friend.name"></span>
            </a>
        </li>
    </ul>

</div>